.FastFoodOrde{
    width: 100%;
}
.FAstOrderContainr{
    background-color: #1e1f27;
    height: 500px;
}

.Text{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    line-height: 0.5;
    color: whitesmoke;
}
.CartPPP{
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.HomeXcart{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.HomeX{
    color: goldenrod;
}
.HomeX:hover{
    color: white;
}
.Lin{
    height: 15px;
    width: 1px;
    background-color: white;
}


.Container{
    display: flex;
    justify-content: space-between;
}

.Productcategories{
    width: 35%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}





.ProductDisplay{
    width: 65%;
    height: 100vh;
    padding: 20px;


}
.Showing{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.showingresult{
    width: 100%;
    height: 65px;
    padding-inline: 30px;
    display: flex;
    align-items: center;
    background-color: rgb(182, 180, 180);
}
.Showing select{
    background-color: rgb(182, 180, 180);
    border: none;
    border-radius: 0px;

}
.FoodContainer{
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));

    gap: 10px;
}
.ProductMenu{
    width: 60px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: goldenrod;
    position: fixed;
    border-radius: 0px 25px 25px 0px;
    display: none;
    cursor: pointer;
    color: black;
}
.ProductMenu i{
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.ProductMenu:hover{
    width: 80px;
}
@media (max-width: 1000px) {
    .Productcategories{
        display: none;
    }
    .ProductMenu{
        display: block;
        }
        .ProductDisplay{
            width: 100%;
        }
}

@media (max-width: 600px) {
    .FoodContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
