.AboutContainer{
    width: 85%;
    place-self: center;
    padding: 20px;
    display: flex;
    gap: 60px;
    justify-content: space-between;
    /* width: 100vh; */
    color: black;
    font-size: 1.2rem;
}

.Img{
    position: relative;
    animation: appear .5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    /* transition: opacity 5s ease, scale 5s ease; */
}


@keyframes appear {
    from{
        opacity: 0;
        scale: 1.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.Img img{
    position: absolute;
    left: 250px;
    transform: translateX(-50%);
    bottom: 0;
    width: 80%;
}

.IMage{
    width: 50%;
    position: relative;
  
}
.AboutText{
    width: 50%;
}
.AboutText p:nth-child(1){
    color: aqua;
    font-size: 1.7rem;
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: Zaro cubic-bezier(0.25, 1, 0.5, 1) forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}
@keyframes Zaro {
    from{
        opacity: -10;
        scale: -1;
        color: white;
        /* transform: translateX(100%); */

    }
    to{
        opacity: 1;
    /* transform: translateX(0%); */
    color: aqua;

        scale: 1;
    }
}
.AboutText h1:nth-child(2){
    font-size: 2.5rem;
    font-weight: bolder;
    place-self: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.AboutText p:nth-child(3), 
.AboutText p:nth-child(4),
.AboutText h1:nth-child(2),
.butt{
    animation: Slide cubic-bezier(0.25, 1, 0.5, 1) forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

@keyframes Slide {
    from{
        opacity: 0;
        /* scale: 1.5; */
        transform: translateX(100%);

    }
    to{
        opacity: 1;
    transform: translateX(0%);

        /* scale: 1; */
    }
}
.butt{
    cursor: pointer;
    height: 60px;
    width: 250px;
    background-color: aqua;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 800;
    position: relative;
    padding: 10px;
    z-index: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: transform .5s ease-in-out;

}
.butt:hover{
    transform: translateY(-5px);
}
.butt:before{
    content: '';
    position: absolute;
    width: 0%;
    height: inherit;
    left: 0%;
    top: 0;
    z-index: -1;
    border-radius: 0px 5px 5px 0px;
    transition: width .5s ease-in-out, 
                background-color .5s ease-in-out;
    overflow: hidden;
}
.butt:hover:before{
    background-color: black;
    width: 50%;
    left: 0%;
    border-radius: 5px 0px 0px 5px;


}
.butt:after{
    content: '';
    position: absolute;
    /* background-color: red; */
    width: 0%;
    height: inherit;
    right: 0;
    top: 0;
    border-radius: 10px 0px 0px 10px;
    z-index: -1;
    transition: width .5s ease-in-out, 
                background-color .5s ease-in-out;
}
.butt:hover:after{
    background-color: black;
    width: 50%;
    border-radius: 0px 5px 5px 0px;
}
.Img span:last-of-type{
    position: absolute;
    left: 180px;
    bottom: -100px;
    animation: bounce 5s ease-in-out infinite;
}
@keyframes bounce {
    0%{
        transform: translateY(0px);
    }
    50%{
        
        /* transform: ; */
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}

@media (max-width: 1100px) {
    .AboutContainer{
        flex-direction: column;
        gap: 0;
    }
    .IMage{
        display: flex;
        justify-content: center;
        align-items: center;
        place-self: center;
        width: 100%;
    }
    .Img img{
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        place-self: center;
        position: absolute;
        left: 200px;
        transform: translateX(-50%);
        top: 0;
    }
    .svg{
        width: 400px;
    }
    .AboutText{
        width:80%;
        /* text-align: center; */
        place-self: center;
    }
   
    .Img span:last-of-type{
        position: absolute;
        left: 90px;
        bottom: -15px;
    }
    .AboutText{
        width: 100%;
    }
}