/* LIGHTMOOD */

.Box.LightMood{
    background-color: var(--LightMood);
    color: rgb(0, 0, 0);
}
.ProgressBar.LightMood{
    background-color: rgb(194, 191, 191);
    color: rgb(0, 0, 0);

}

.ProgressContainer.LightMood{
    background-color: rgb(150, 148, 148);
}

/* LIGHTMOOD */

.AboutContainter{
    padding-inline: 30px;
}
.AboutContainter .Container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.AboutContainter .Container h1{
    border-bottom: .5vw solid gold;
    width: fit-content;
    line-height: 1.4;
    font-size: 3vw;
}
.AboutContainter .Contaner h1:before{
    content: '';
    position: absolute;
    width: 50px;
    background-color: gold;
    height: 4px;
    top: 120px;
    /* bottom: ; */
}
.Text p{
    font-size: 1rem;

}
.Myskills{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(2, auto);
    width: 100%;
    margin-bottom: 30px;
}
.Box{
    border-radius: 10px;
    /* line-height: 20px; */
}

.ProgressContainer{
    width: 80%;
    background-color: rgb(65, 63, 63);



    border-radius: 50px;
}
.Discription{
    font-size: 1.2rem;
    width: 85%;

}
.ProgressBar{
    height: 20px;
    border-radius: 50px;
    background-color: rgb(107, 106, 106);
    padding-inline: 10px;
}
@media (max-width: 1000px){
    .Myskills{
        grid-template-rows: repeat(4, auto);
    }
}